.ipynb_checkpoints
__pycache__
data/*
!data/frontcardetection
!data/VOC_examples
local
bound_nout_min_1_0.lp
bound_nout_min_2_0.lp
bound_nout_min_3_0.lp
bound_nout_max_1_0.lp
bound_nout_max_2_0.lp
bound_nout_max_3_0.lp
propertyBoxedAbstraction.lp

nndependability/metrics/saliency
